table.dataTable tbody tr {
    background-color: transparent;
}

select.form-control{
	background-color: #27293d !important;
    padding: 7px 22px 8px 5px;
    height: auto;
    margin: 0px 13px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #fff;
 }

.select2-container--default .select2-selection--multiple,.select2-container--default .select2-selection--single{
    background-color: #27293d;
}

.select2-container--default .select2-results__option--highlighted[aria-selected],.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #1e1e26;
}

.select2-container--default .select2-results>.select2-results__options{
	background-color: #27293d;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #1e1e25;
}

.note-editor .note-editing-area p {
    color: #1b1b24;
}
.dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled{
    color: #fff;
}